#chessboard {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    border: 1px solid #333;
    text-align: center;
    height: inherit;
    width: inherit;
    margin-top: 2.5vh;
}
.row, .alt_row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.row section:nth-child(even){ background-color: #eee; }
.row section:nth-child(odd){ background-color: #999; }
.alt_row section:nth-child(even){ background-color: #999; }
.alt_row section:nth-child(odd){ background-color: #eee; }